/* Text Align */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Text Overflow */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-2-rows {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Font Size */
.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-36 {
  font-size: 36px;
}

/* Font Weight */
.font-bold {
  font-weight: bold;
}


/* Flex */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Display */
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/* Position */
.relative {
  position: relative;
}

.absolute-start {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Width */
.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

/* Min Width */

/* Max Width */

/* Height */
.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

/* Min Height */

/* Max Height */

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Padding */

/* Border */

/* Border Radius */
.rounded-half {
  border-radius: 50%;
}

/* Object Fit */
.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

/* Box Sizing */
.border-box {
  box-sizing: border-box;
}

/* Line Height */

/* Overflow */
.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

/* Color */
.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* Background Color */
.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}